@import url("App.css");

#about.container {
  display: flex;
  flex-direction: row;
  .left-pane {
    flex: 40%;
    img {
      border-radius: 50%;
      width: 175px;
      height: 175px;
    }
    img:not(:hover) {
      filter: saturate(0%);
      transition: all 500ms;
    }
    img:hover {
      filter: saturate(100%);
      transition: all 500ms;
    }
    button {
      border: 1px solid var(--font-color);
      padding: 0.4rem 1.2rem;
      svg {
        margin: auto 0.2rem;
        width: 1.2rem;
        height: 1.2rem;
      }
    }
  }
  .right-pane {
    flex: 60%;
    div {
      text-align: left;
      h2 {
        margin-top: 1.8rem;
        margin-bottom: 0rem;
      }
      h3,
      h4,
      h5,
      label {
        font-family: var(--mono-font);
        margin: 0.2rem;
      }
      h4,
      h5 {
        font-weight: 300;
      }
      div {
        margin: 0.6rem;
        margin-bottom: 1rem;
      }
    }
  }
}

.skills-content {
  display: grid;
  justify-content: space-evenly;
  grid-template-columns: auto auto;
  gap: 0.2rem;
  h2 {
    text-align: center;
    grid-column: 1 / span 2;
    height: fit-content;
  }
  .progress-element {
    font-family: var(--mono-font);
    .progress-label {
      position: relative;
    }
    .progress-label::after {
      content: attr(progress);
      position: absolute;
      top: 0;
      right: 0;
    }
    .progress-container {
      position: relative;
      display: inline-block;
      background: var(--base-color);
      width: fit-content;
      height: 1rem;
      border-radius: 6px;
      overflow: hidden;
      progress {
        opacity: 0;
      }
    }
    .progress-container::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 50%;
      background: var(--font-color);
    }
  }
}
