:root {
  --sans-font: "Nunito", sans-serif;
  --mono-font: "Fira Code", monospace;

  color-scheme: dark, light;
  background-color: var(--base-color);
  color: var(--font-color);

  font-family: var(--sans-font);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
@media (prefers-color-scheme: dark) {
  :root {
    --base-color: rgb(24, 24, 24);
    --opposite-color: rgb(237, 233, 232);
    --font-color: rgb(243, 242, 237);
  }
}
@media (prefers-color-scheme: light) {
  :root {
    --base-color: rgb(237, 233, 232);
    --opposite-color: rgb(24, 24, 24);
    --font-color: rgb(18, 18, 18);
  }
}

body {
  margin: 0%;
  .container {
    text-align: center;
    align-content: center;
    margin: 4rem auto;
    div {
      align-items: center;
      align-content: center;
      justify-content: center;
    }
    .left-pane, .top-pane {
      display: flex;
      flex-direction: column;
    }
    .right-pane, .bottom-pane {
      border-radius: 24px;
      margin: 1.2rem;
      padding: 2.2rem;
    }
    h1, h2, h3 {
      width: fit-content;
    }
  }
  .container:not(#contact) {
    max-width: 60rem;
  }
  #contact {
    max-width: 50rem;
  }
  .footer {
    font-family: var(--mono-font);
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 12rem;
    * {
      margin: 0%;
    }
    .footer-icons {
      button {
        border: transparent;
        margin: 0.4rem 0.3rem;
      }
      svg {
        width: 2.8rem;
        height: 2.8rem;
      }
      svg:not(:hover) {
        filter: saturate(0%);
        transition: filter, 800ms;
      }
      svg:hover {
        filter: saturate(100%);
        transition: filter, 600ms;
      }
    }
    .footer-text {
      text-align: right;
    }
  }
}

.glass {
  border-radius: 32px;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  @media (prefers-color-scheme: dark) {
    background: rgba(51, 51, 51, 0.3);
    box-shadow: 0 3px 10px 2px rgb(24, 24, 24);
  }
  @media (prefers-color-scheme: light) {
    background: rgba(251, 252, 248, 0.3);
    box-shadow: 0 3px 10px 2px rgba(0, 0, 0, 0.3);
  }
}

#navigation-bar {
  position: fixed;
  display: flex;
  flex-direction: column;
  border-radius: 36px;
  padding: 0.6rem;
  align-items: center;
  top: 50%;
  left: 1.5rem;
  transform: translateY(-50%);
  z-index: 2;
  div {
    display: flex;
    flex-direction: column;
    border-radius: 28px;
    margin-bottom: 0.5rem;
    padding: 0.6rem;
  }
  svg {
    cursor: pointer;
    margin: 0.8rem 0.2rem;
    width: 2rem;
    height: 2rem;
  }
  button {
    border: transparent;
  }
}

.button {
  border-radius: 12px;
  background: transparent;
  color: var(--font-color);
  font-family: var(--sans-font);
  font-size: 1rem;
  font-weight: 700;
  cursor: pointer;
  width: fit-content;
}

/* MOBILE SIZE */
@media screen and (max-width: 1250px) {
  #navigation-bar {
    left: 2rem;
  }
}

/* DEBUGGING */
/* */
.container {
  border: 0.5px dashed red;
}
div, form {
  border: 0.5px dashed green;
}
h1, h2, h3, h4, h5, h6, p, label {
  border: 0.5px dashed yellow;
}
img, svg, button, input, progress {
  border: 0.5px dashed blue;
} 
