@import url("index.css");

.footer {
  font-family: var(--mono-font);
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 12rem;
}

.button {
  background: transparent;
  color: var(--font-clr);
  cursor: pointer;
  font-family: var(--sans-font);
  width: fit-content;
}

.norm-button {
  border: 1px solid var(--font-clr);
  font-weight: 700;
}
.norm-button:not(:hover) {
  border-radius: 14px;
  background-color: transparent;
  color: var(--font-clr);
  font-size: 1rem;
  padding: 0.4rem 1.2rem;
  transition: all, 500ms;
}
.norm-button:hover {
  border-radius: 18px;
  background-color: var(--font-clr);
  color: var(--base-clr);
  font-size: 1.2rem;
  padding: 0.6rem 1.4rem;
  transition: all, 500ms;
}

.img-button {
  border: transparent;
  :not(:hover) {
    filter: saturate(0%);
    transition: all, 1500ms;
  }
  :hover {
    filter: saturate(100%);
    transition: all, 1500ms;
  }
}

#cursor {
  animation: blink 1000ms steps(5, start) infinite;
}

@media screen and (max-width: 1250px) {
  .footer {
    justify-content: space-between;
    div {
      margin: 0% 8%;
    }
  }
}

@keyframes blink {
  to {
    visibility: hidden;
  }
}
