@import url("index.css");

#contact {
  display: flex;
  flex-direction: row;
  .left-pane {
    flex: 45%;
    .social-links {
      display: flex;
      flex-direction: column;
      button {
        margin: 0.4rem;
      }
    }
  }
  .right-pane {
    flex: 55%;
  }
  min-height: 25rem;
}

.input-box {
  background: transparent;
}
