@import url("App.css");

#contact {
  display: flex;
  flex-direction: row;
  .left-pane {
    flex: 45%;
    .social-links {
      display: flex;
      flex-direction: row;
      button {
        border: transparent;
        margin: 0.4rem;
        svg {
          width: 2rem;
          height: 2rem;
        }
      }
    }
  }
  .right-pane {
    flex: 55%;
    form {
      display: flex;
      flex-direction: column;
      textarea, input {
        font-family: var(--mono-font);
        font-weight: 300;
      }
      button {
        align-self: flex-end;
        border: 1px solid var(--font-color);
        padding: 0.4rem 1.2rem;
      }
    }
  }
}

.input-box {
  display: flex;
  flex-direction: row;
  border: 1px solid var(--font-color);
  border-radius: 12px;
  margin-bottom: 1rem;
  padding: 0.6rem;
  svg {
    pointer-events: none;
    margin: auto 0.4rem auto auto;
    width: 1.6rem;
    height: 1.6rem;
  }
  textarea, input {
    border: transparent;
    background: transparent;
    color: var(--font-color);
    font-size: 1rem;
    resize: none;
    width: 100%;
  }
  *:focus {
    outline: none;
  }
}
.input-box:not(:focus-within) {
  transition: all, 800ms;
}
.input-box:focus-within {
  outline: 1px solid var(--font-color);
  box-shadow: 0 0 4px 1px var(--font-color);
  transition: all, 400ms;
}
