@import url("App.css");

#home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 0%;
  min-height: 40rem;
  h1 {
    font-size: 3rem;
  }
  h2 {
    font-family: var(--mono-font);
    font-weight: 400;
  }
}

#cursor {
  animation: blink 1000ms steps(5, start) infinite;
}
@keyframes blink {
  to {
    visibility: hidden;
  }
}