@import url("Main.css");

#home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  max-width: 75rem;
  min-height: 45rem;
  h1 {
    font-size: 3.5rem;
    font-weight: 800;
    letter-spacing: 0.4rem;
  }
  h2, span {
    font-family: var(--mono-font);
    font-weight: 400;
  }
}

#cursor {
  animation: blink 1000ms steps(5, start) infinite;
}
@keyframes blink {
  to {
    visibility: hidden;
  }
}

@media (max-width: 800px) {
  #home {
    min-height: 30rem;
    h1 {
      font-size: 2.5rem;
      letter-spacing: 0.2rem;
    }
    h2, span {
      font-size: 1rem;
    }
  }
}

@media (max-height: 700px) {
  #home {
    min-height: 30rem;
  }
}