@import url("Main.css");

#home {
  max-width: 75rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 45rem;
  h1 {
    font-size: 3.5rem;
    font-weight: 800;
    letter-spacing: 0.4rem;
  }
  h2, span {
    font-family: var(--mono-font);
    font-weight: 400;
  }
}

#cursor {
  animation: blink 1000ms steps(5, start) infinite;
}
@keyframes blink {
  to {
    visibility: hidden;
  }
}