:root {
  --sans-font: "Nunito", sans-serif;
  --mono-font: "Fira Code", monospace;

  color-scheme: dark, light;
  background-color: var(--base-clr);
  color: var(--font-clr);

  font-family: var(--sans-font);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
@media (prefers-color-scheme: dark) {
  :root {
    --base-clr: rgb(24, 24, 24);
    --opposite-clr: rgb(237, 233, 232);
    --font-clr: rgb(243, 242, 237);
  }
}
@media (prefers-color-scheme: light) {
  :root {
    --base-clr: rgb(237, 233, 232);
    --opposite-clr: rgb(24, 24, 24);
    --font-clr: rgb(18, 18, 18);
  }
}

body {
  margin: 0%;
  .container {
    text-align: center;
    align-content: center;
    margin: 4rem auto;
    max-width: 60rem;
    div {
      align-items: center;
      align-content: center;
      justify-content: center;
    }
    .left-pane, .top-pane {
      display: flex;
      flex-direction: column;
    }
    .right-pane, .bottom-pane {
      border-radius: 24px;
      margin: 1.2rem;
      padding: 2.2rem;
    }
    h1, h2, h3 {
      width: fit-content;
    }
  }
}

.glass {
  border-radius: 32px;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  @media (prefers-color-scheme: dark) {
    background: rgba(51, 51, 51, 0.3);
    box-shadow: 0 3px 10px 2px rgb(24, 24, 24);
  }
  @media (prefers-color-scheme: light) {
    background: rgba(251, 252, 248, 0.3);
    box-shadow: 0 3px 10px 2px rgba(0, 0, 0, 0.3);
  }
}
