:root {
  --sans-font: "Nunito", sans-serif;
  --mono-font: "Fira Code", monospace;

  --outline-color: rgb(1, 158, 254);
  --error-color: rgb(244, 113, 116);
  
  backface-visibility: hidden;
  font-synthesis: weight;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: subpixel-antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.dark {
  --background-color: rgb(12, 12, 12);
  --container-color: rgb(27, 27, 27);
  --item-color: rgb(18, 18, 18);
  --print-color: rgb(243, 242, 237);
  --text-color: rgb(0, 0, 0);
  #navigation-bar {
    box-shadow: rgba(0, 0, 0, 0.4) 0px 5px 15px;
    button:has(svg) {
      background: rgba(243, 242, 237, 0.1);
    }
  }
  #skills {
    .progress-bar {
      background: rgba(243, 242, 237, 0.1);
    }
  }
}

.light {
  --background-color: rgb(231, 234, 229);
  --container-color: rgb(248, 246, 240);
  --item-color: rgb(251, 250, 245);
  --print-color: rgb(0, 0, 0);
  --text-color: rgb(243, 242, 237);
  #navigation-bar {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 5px 15px;
    button:has(svg) {
      background: rgba(0, 0, 0, 0.1);
    }
  }
  #skills {
    .progress-bar {
      background: rgba(0, 0, 0, 0.1);
    }
  }
}

html {
  scroll-behavior: smooth;
  body {
    background-color: var(--background-color);
    color: var(--print-color);
    margin: 0%;
    .container {
      align-content: center;
      margin: 7.5rem auto;
      z-index: 1;
    }
    .container:not(#home) {
      background-color: var(--container-color);
      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    }
    div {
      align-items: center;
      align-content: center;
      justify-content: center;
      h1 {
        font-size: 2.5rem;
      }
    }
  }
  h1,
  h2,
  span,
  button {
    font-family: var(--sans-font);
  }
  h3,
  h4,
  h5,
  h6,
  p,
  input,
  textarea {
    font-family: var(--mono-font);
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  span,
  button,
  img {
    user-select: none;
  }
  button {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 12px;
    font-size: 1rem;
    font-weight: 650;
    cursor: pointer;
    gap: 0.2rem;
    padding: 0.5rem 1rem;
  }
  svg {
    width: 2rem;
    height: 2rem;
  }
}

* {
  transition: font-size 500ms ease, min-height 500ms ease, max-width 500ms ease,
    gap 500ms ease, background-color 500ms ease, border 500ms ease,
    color 500ms ease;
}
