@import url("App.css");

#projects {
  display: flex;
  flex-direction: column;
  .bottom-pane {
    display: flex;
    flex-direction: column;
    border-radius: 22px;
    margin-top: 0%;
    padding: 1rem;
    gap: 1rem;
    .item-card {
      display: flex;
      flex-direction: row;
      border-radius: 16px;
      height: 16rem;
      .item-image,
      .item-details {
        margin: 0.8rem;
      }
      .item-image {
        border-radius: 12px;
        object-fit: cover;
        width: 26rem;
        height: 14rem;
        transition: filter 500ms;
      }
      .item-image:not(:hover) {
        filter: saturate(0%);
      }
      .item-image:hover {
        filter: saturate(100%);
      }
      .item-details {
        text-align: left;
        margin-right: 1.5rem;
        h2, p {
          font-family: var(--mono-font);
          margin: 0.2rem;
        }
        p {
          font-size: 0.8rem;
          font-weight: 300;
          overflow: scroll;
          height: 5rem;
        }
        button {
          margin-top: 1rem;
        }
      }
    }
  }
}
