@import url("App.css");

#projects {
  display: flex;
  flex-direction: column;
  div {
    align-content: center;
  }
  .bottom-pane {
    margin-top: 0%;
    min-height: 25rem;
    border-radius: 22px;
  }
}
