@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

:root[data-theme="dark"] {
  --background-color: rgb(12, 12, 12);
  --container-color: rgb(27, 27, 27);
  --accent-color: rgb(139, 223, 226);
  --print-color: rgb(243, 242, 237);
  --text-color: rgb(0, 0, 0);
  --error-color: rgb(221, 68, 85);
}

:root[data-theme="light"] {
  --background-color: rgb(231, 234, 229);
  --container-color: rgb(248, 246, 240);
  --accent-color: rgb(60, 140, 140);
  --print-color: rgb(0, 0, 0);
  --text-color: rgb(243, 242, 237);
  --error-color: rgb(179, 28, 69);
}

html {
  background-color: var(--background-color);
  color: var(--print-color);
}

:root {
  --sans-font: "Inter", sans-serif;
  --mono-font: "Fira Code", monospace;
}
