@media (prefers-color-scheme: light) {
  :root {
    --primary-bg: #f3f2ed;
    --secondary-bg: #ede9e8;
    --font-color: #121212;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --primary-bg: #181818;
    --secondary-bg: #121212;
    --font-color: #f3f2ed;
  }
}

:root {
  --sans-font: "Nunito", sans-serif;
  --mono-font: "Fira Code", monospace;

  font-family: var(--sans-font);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  color-scheme: light dark;
  background-color: var(--primary-bg);
  color: var(--font-color);
}

* {
  margin: 0%;
}
